<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
	<ui:composition template="/layouts/basic.xhtml">
		<ui:define name="title">Ergebnisse</ui:define>
		<ui:define name="content">
			<h3>
			Dyamex Client Aufruf
			</h3>
			
			<h:form id="form">
				<h:panelGrid columns="2">
					<f:facet name="header">
						<p:messages></p:messages>
					</f:facet>
					
					<p:outputLabel for="result" value="Result"/>
					<p:inputText id="result" value="#{data.requestStr}" size="200"></p:inputText>
					
					<p:outputLabel for="result" value="Result"/>
					<p:inputText id="result" value="#{data.result}" size="200"></p:inputText>
					
					<br />
					<p:commandButton actionListener="#{logic.close}" value="Weiter" update="form" icon="ui-icon-check" />
				</h:panelGrid>
			</h:form>
			
		</ui:define>
	</ui:composition>
</h:body>
</html>